<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{block title}Smart Funds{/block}</title>
</head>
<body>
    <header>
        <h1>Smart Funds</h1>
    </header>

    <nav>
        <ul>
            <li><a n:href="Dashboard:default">Moje portfolio</a></li>
        </ul>
    </nav>

    <main>
        {block content}{/block}
    </main>
</body>
</html>
