{block content}
<h2>Dashboard</h2>
<p>Vítejte v administraci Smart Funds.</p>

<ul>
    <li><a n:href="Fund:default">Správa fondů</a></li>
    <li><a n:href="Investor:default">Správa investorů</a></li>
    <li><a n:href="Transaction:default">Správa transakcí</a></li>
</ul>
{/block}
