{block content}
<h1>Smart Funds</h1>
<p>Vítejte v aplikaci pro správu investičních fondů.</p>

<nav>
    <ul>
        <li><a n:href=":Admin:Dashboard:default">Admin panel</a></li>
        <li><a n:href=":Investor:Dashboard:default">Investor dashboard</a></li>
    </ul>
</nav>
{/block}
